
**Multifaceted Movie Rating Prediction: A Comprehensive Analysis of Multiple Regression and Sentiment Analysis**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/My Drive/Movie-Sentiment-Analysis/Movie_dataset.csv'

In [ ]:
import pandas as pd

data = pd.read_csv(file_path)

data

,Movie_Name,Year,Budget,Genre,Review,Nominations,Awards,RunTime,Rating
0,Enthiran,2010,132.0,Action | Sci-Fi,Best apocalyptic sci-fi-romcom-melodrama-dance...,38,25,177,7.1
1,Kabali,2016,137.0,Action | Crime | Drama,Emotional drama of the life story of a gangster,31,15,152,6.2
2,Mersal,2017,132.0,Action | Thriller,A visually beautiful and stylish entertainer w...,58,36,163,7.2
3,I,2015,174.0,Action | Drama | Thriller,A beauty and the beast story that is driven by...,15,8,196,7.4
4,Theri,2016,78.0,Action | Drama | Thriller,"A pakka mass entertainer, same old revenge sto...",25,11,150,7.1
...,...,...,...,...,...,...,...,...,...
165,Moodar Koodam,2013,8.0,Comedy,"Its a wonderful mixture of dark humor , satire...",5,3,155,7.7
166,Varuthapadatha Valibar Sangam,2013,6.0,Comedy,An out-and-out comedy entertainer that deliver...,13,5,158,6.7
167,Thanga Meengal,2013,5.0,Drama,Touted to be an emotionally tender story,19,14,138,7.9
168,Aadhalal Kadhal Seiveer,2013,4.0,Romance,A reality based movie that is must watch for p...,0,0,101,7.2
169,Maryan,2013,3.0,Adventure,A serious drama thriller with a strong and sou...,19,4,133,7.1

In [ ]:
pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.10/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.10/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.1->textblob) (4.66.2)

In [ ]:
from textblob import TextBlob

def analyze_sentiment(text):
    # Creating a TextBlob object
    blob = TextBlob(text)

    # Getting the sentiment polarity (a value between -1 and 1)
    sentiment_score = blob.sentiment.polarity

    # Categorizing the sentiment
    if sentiment_score > 0:
        sentiment_label = 'positive'
    elif sentiment_score == 0:
        sentiment_label = 'neutral'
    else:
        sentiment_label = 'negative'

    return pd.Series([sentiment_score, sentiment_label])

data[['Sentiment_Score','Sentiment_Label']] = data['Review'].apply(analyze_sentiment)

print(data.head())

  Movie_Name  Year  Budget                      Genre  \
0   Enthiran  2010   132.0            Action | Sci-Fi
1     Kabali  2016   137.0     Action | Crime | Drama
2     Mersal  2017   132.0          Action | Thriller
3          I  2015   174.0  Action | Drama | Thriller
4      Theri  2016    78.0  Action | Drama | Thriller

                                              Review  Nominations  Awards  \
0  Best apocalyptic sci-fi-romcom-melodrama-dance...           38      25
1    Emotional drama of the life story of a gangster           31      15
2  A visually beautiful and stylish entertainer w...           58      36
3  A beauty and the beast story that is driven by...           15       8
4  A pakka mass entertainer, same old revenge sto...           25      11

   RunTime  Rating  Sentiment_Score Sentiment_Label
0      177     7.1            1.000        positive
1      152     6.2            0.000         neutral
2      163     7.2            0.675        positive
3      196     7.4            0.000         neutral
4      150     7.1            0.225        positive

In [ ]:
data.to_csv('Movie_dataset.csv', index=False)

In [ ]:
data = pd.read_csv('Movie_dataset.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Movie_Name       170 non-null    object
 1   Year             170 non-null    int64
 2   Budget           170 non-null    float64
 3   Genre            170 non-null    object
 4   Review           170 non-null    object
 5   Nominations      170 non-null    int64
 6   Awards           170 non-null    int64
 7   RunTime          170 non-null    int64
 8   Rating           170 non-null    float64
 9   Sentiment_Score  170 non-null    float64
 10  Sentiment_Label  170 non-null    object
dtypes: float64(3), int64(4), object(4)
memory usage: 14.7+ KB

In [ ]:
unique_values = data['Genre'].unique()
unique_values

array(['Action | Sci-Fi', 'Action | Crime | Drama', 'Action | Thriller',
       'Action | Drama | Thriller', 'Action | Drama',
       'Action | Comedy | Drama', 'Comedy | Horror',
       'Action | Sci-Fi | Thriller',
       'Action | Adventure | Sci-Fi | Thriller',
       'Action | Adventure | Fantasy',
       'Action | Drama | Mystery | Thriller', 'Action | Comedy | Crime',
       'Comedy | Drama', 'Action | Comedy | Fantasy | Horror | Mystery',
       'Action | Crime | Thriller', 'Animation | Action', 'Action',
       'Comedy | Romance', 'Action | Comedy | Horror',
       'Action | Comedy | Fantasy | Horror', 'Action | Comedy',
       'Action | Comedy | Drama | Romance', 'Comedy | Drama | Romance',
       'Action | Adventure | Drama | Thriller', 'Action | Crime',
       'Action | Romance | Thriller', 'Romance',
       'Drama | Family | Musical', 'Drama | Musical | Romance',
       'Action | Drama | Fantasy | Sci-Fi', 'Horror', 'Action | Romance',
       'Drama | Thriller', 'Musical | Romance| Thriller',
       'Action | Drama | Romance', 'Drama | Romance',
       'Comedy | Sci-fi | Thriller', 'Comedy', 'Drama',
       'Action | Biography | History', 'Action | Adventure',
       'Mystery | Thriller', 'Thriller', 'Crime', 'Adventure'],
      dtype=object)

In [ ]:
genres_list = ['Action', 'Sci-Fi', 'Crime', 'Drama', 'Thriller', 'Comedy', 'Adventure', 'Mystery', 'Fantasy', 'Horror', 'Romance','Musical','Family','Biography','History']

# Creating binary columns for each genre
for genre in genres_list:
    data[genre] = data['Genre'].apply(lambda x: 1 if genre in x else 0)

# Dropping the original 'Genre' column
data.drop('Genre', axis=1, inplace=True)

# Displaying the resulting DataFrame
print(data)

                        Movie_Name  Year  Budget  \
0                         Enthiran  2010   132.0
1                           Kabali  2016   137.0
2                           Mersal  2017   132.0
3                                I  2015   174.0
4                            Theri  2016    78.0
..                             ...   ...     ...
165                  Moodar Koodam  2013     8.0
166  Varuthapadatha Valibar Sangam  2013     6.0
167                 Thanga Meengal  2013     5.0
168        Aadhalal Kadhal Seiveer  2013     4.0
169                         Maryan  2013     3.0

                                                Review  Nominations  Awards  \
0    Best apocalyptic sci-fi-romcom-melodrama-dance...           38      25
1      Emotional drama of the life story of a gangster           31      15
2    A visually beautiful and stylish entertainer w...           58      36
3    A beauty and the beast story that is driven by...           15       8
4    A pakka mass entertainer, same old revenge sto...           25      11
..                                                 ...          ...     ...
165  Its a wonderful mixture of dark humor , satire...            5       3
166  An out-and-out comedy entertainer that deliver...           13       5
167           Touted to be an emotionally tender story           19      14
168  A reality based movie that is must watch for p...            0       0
169  A serious drama thriller with a strong and sou...           19       4

     RunTime  Rating  Sentiment_Score Sentiment_Label  ...  Comedy  Adventure  \
0        177     7.1         1.000000        positive  ...       0          0
1        152     6.2         0.000000         neutral  ...       0          0
2        163     7.2         0.675000        positive  ...       0          0
3        196     7.4         0.000000         neutral  ...       0          0
4        150     7.1         0.225000        positive  ...       0          0
..       ...     ...              ...             ...  ...     ...        ...
165      155     7.7         0.223333        positive  ...       1          0
166      158     6.7         0.000000         neutral  ...       1          0
167      138     7.9         0.000000         neutral  ...       0          0
168      101     7.2         0.000000         neutral  ...       0          0
169      133     7.1         0.200000        positive  ...       0          1

     Mystery  Fantasy  Horror  Romance  Musical  Family  Biography  History
0          0        0       0        0        0       0          0        0
1          0        0       0        0        0       0          0        0
2          0        0       0        0        0       0          0        0
3          0        0       0        0        0       0          0        0
4          0        0       0        0        0       0          0        0
..       ...      ...     ...      ...      ...     ...        ...      ...
165        0        0       0        0        0       0          0        0
166        0        0       0        0        0       0          0        0
167        0        0       0        0        0       0          0        0
168        0        0       0        1        0       0          0        0
169        0        0       0        0        0       0          0        0

[170 rows x 25 columns]

In [ ]:
data = data.dropna()

In [ ]:
data = data.drop('Movie_Name',axis = True)

In [ ]:
data = data.drop('Review',axis = True)

In [ ]:
data = data.drop('Sentiment_Label',axis = True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             170 non-null    int64
 1   Budget           170 non-null    float64
 2   Nominations      170 non-null    int64
 3   Awards           170 non-null    int64
 4   RunTime          170 non-null    int64
 5   Rating           170 non-null    float64
 6   Sentiment_Score  170 non-null    float64
 7   Action           170 non-null    int64
 8   Sci-Fi           170 non-null    int64
 9   Crime            170 non-null    int64
 10  Drama            170 non-null    int64
 11  Thriller         170 non-null    int64
 12  Comedy           170 non-null    int64
 13  Adventure        170 non-null    int64
 14  Mystery          170 non-null    int64
 15  Fantasy          170 non-null    int64
 16  Horror           170 non-null    int64
 17  Romance          170 non-null    int64
 18  Musical          170 non-null    int64
 19  Family           170 non-null    int64
 20  Biography        170 non-null    int64
 21  History          170 non-null    int64
dtypes: float64(3), int64(19)
memory usage: 29.3 KB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Defining features (X) and target variable (y)
X = data.drop('Rating', axis = True)
y = data['Rating']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Making predictions on the testing set
y_pred = model.predict(X_test)

# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Calculating R-squared value
r2 = r2_score(y_test, y_pred)
print(f'R-squared: {r2}')

Mean Squared Error: 0.6005312732237762
R-squared: 0.528451194235372